body{
font-size: 12px; line-height:14px; 
font-family:"HelveticaNeue", sans-serif; font-weight:200; 
height: 750px; width: 826px;
}

#top{height: 155px; width: 830px; border-bottom: solid 4px #BE1419;}

.navTop {
float:right; height: 20px; width: 100px;
font-size: .9em; font-weight: 800;
text-align: center; font-style: oblique;
}

#banner{
height: 155px; width: 285px;
float: left;
}

#design {
height: 125px; width: 500px; line-height:7em; 
font-family:"Times New Roman", Times, serif; 
font-weight:200; font-size: 2em; float: left;
text-align: left; font-style: oblique; letter-spacing: 2px
}

#and{
font-weight:900; font-size:.66em; color:#BE1419;
font-family:"HelveticaNeue", sans-serif; font-style: normal;
}

#navStrip {height: 20px; width: 541px; float: right;}

#clientPanel{height: 595px; width: 190px; float: left;}

.genre {
height: 15px; width: 168px; float: left; line-height: 2em; margin-top: 5px;
font-weight:200; text-align: center; vertical-align: text-center; margin-bottom:15px;
}

.client {height: 26px; width: 180px;}

.clientM {
height: 16px; width: 168px; float: left;
background: -webkit-linear-gradient(left, white, #D4DAEF, white);
/* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, white, #D4DAEF, white);
/* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, white, #D4DAEF, white);
/* For Firefox 3.6 to 15 */
background: linear-gradient(to right, white, #D4DAEF, white);
/* Standard syntax (must be last) */
font-size: .8em; font-weight:800; text-align: center; line-height:1.75em;
margin-bottom: 10px; margin-right: 22px; margin-left: 0px; margin-top: 0px;
}

.clientK {
height: 16px; width: 168px; float: left;
background: -webkit-linear-gradient(left, white, #EFC8C0, white);
background: -o-linear-gradient(right, white, #EFC8C0, white);
background: -moz-linear-gradient(right, white, #EFC8C0, white);
background: linear-gradient(to right, white, #EFC8C0, white);
font-size: .8em; font-weight:800; text-align: center; line-height:1.75em;
margin-bottom: 10px; margin-right: 22px; margin-left: 0px; margin-top: 0px;
}

.clientE {
height: 16px; width: 168px; float: left;
background: -webkit-linear-gradient(left, white, #C5D6B9, white);
background: -o-linear-gradient(right, white, #C5D6B9, white);
background: -moz-linear-gradient(right, white, #C5D6B9, white);
background: linear-gradient(to right, white, #C5D6B9, white);
font-size: .8em; font-weight:800; text-align: center; line-height:1.75em;
margin-bottom: 10px; margin-right: 22px; margin-left: 0px; margin-top: 0px;
}

.clientP {
height: 16px; width: 168px; float: left;
background: -webkit-linear-gradient(left, white, #FEDBB4, white);
background: -o-linear-gradient(right, white, #FEDBB4, white);
background: -moz-linear-gradient(right, white, #FEDBB4, white);
background: linear-gradient(to right, white, #FEDBB4, white);
font-size: .8em; font-weight:800;text-align: center; line-height:1.75em;
margin-bottom: 10px; margin-right: 22px; margin-left: 0px; margin-top: 0px;
}

.clientC {
background: -webkit-linear-gradient(left, white, #DFCCE4, white);
background: -o-linear-gradient(right, white, #DFCCE4, white);
background: -moz-linear-gradient(right, white, #DFCCE4, white);
background: linear-gradient(to right, white, #DFCCE4, white);
height: 16px; width: 168px; float: left; line-height:1.75em;
font-size: .8em; font-weight:800; text-align: center;
margin-bottom: 10px; margin-right: 22px; margin-left: 0px; margin-top: 0px;
}

#gallery {height:595px; width:636px; float:left;}


#thumbStrip {height: 70px; width: 636px; float: left;}

.thumb {height: 60px; width: 106px; float: left;}

.thumb:hover {opacity: .5;}


#bigPic {height: 400px; width: 636px; margin-top: 15px; float: left;}

/*position: absolute  bottom: 0px
make container--position: relative;*/

#prev {
height: 85px; width: 95px; float: left; font-weight:800;
line-height:3em; font-size: .8em;text-align: left;
}

#navBottom {height: 85px; width: 630px; float: left;}

#prev:hover {color: red;}

#clientBlock {height: 85px; width: 400px; float: left; 
	margin-left:20px; margin-right:20px;} 

#clientName {font-weight:800; text-align: center; font-size: 1.2em; 
	line-height:1.5em; padding-top:2px; margin-top: 10px; margin-bottom: 0px}

.clientInfo {font-size: 1em; text-align: center; margin:0px;}

#next {
height: 85px; width: 95px; float: right; font-weight:800;
line-height:3em; font-size: .8em; text-align: right;
}

#next:hover {color: red;}
