
.light{
  height: 550px;
  width: 200px;
  display: inline-block;
  background-color: gray;
 }

.buttonspace{
  height: 550px;
  width: 200px;
  display: inline-block;
  background-color: red;
}

.shape-shifter1 {
  border-radius: 50%;
  width: 150px;  
  height: 150px;
  background-color: white;
  margin: 25px;  
  transition: width 2s ease 1s;
  cursor: pointer;
}

.shape-shifter1:hover{
  background-color: red;
  opacity: .5;
  width: 150px;
  transition: width 0 ease 1s;
  }

.shape-shifter2 {
  border-radius: 50%;
  width: 150px;  
  height: 150px;
  background-color: white;
  margin: 25px;  
  transition: width 2s ease 1s;
  cursor: pointer;
}
  
.shape-shifter2:hover{
  background-color: yellow;
  opacity: .5;
  width: 150px;
  transition: width 0 ease 1s;
  }

.shape-shifter3 {
  border-radius: 50%;
  width: 150px;  
  height: 150px;
  background-color: white;
  margin: 25px;  
  transition: width 2s ease 1s;
  cursor: pointer;
}
  
.shape-shifter3:hover{
  background-color: green;
  opacity: .5;
  width: 150px;
  transition: width 0 ease 1s;
  }

.button{
  height: 75px;
  width:150px;
  border-color: black;
  border-style: solid;
  border-width:3px;
  font-family: sans-serif;
  font-size: 48px;
  text-align: center;
  margin-left: 25px;
  margin-top: 75px;
  margin-bottom: 75px;
  line-height: 75px;
  transition: width 2s ease 1s;
  cursor: pointer;
  diplay: block;
  
.button: hover{
  background-color: gray;
  opacity: .5;
  width: 150px;
  height: 75px;
  transition: width 0 ease 1s;
  }
  
 
  