body{
      font-size: 22px; 
      line-height:48px; 
      font-family:'Lato', sans-serif; 
      font-weight:100; margin: 50px;
}
    
    h1{
        font-size: 3.5em; 
        margin-bottom: 65px; 
        line-height:30px; 
        font-weight:100;
}
    
    h4{
        font-size: 1.75em; 
        margin-bottom: 45px; 
        line-height:5px; 
        font-weight:100;
}
    
    a{
        font-size:1.35em; 
        text-decoration: none; 
        margin-right: 15px; 
        color: #d6d5d7; 
        padding-bottom:.25em
}
    
    h2{
        font-weight:100;
        font-size:2.25em;
        margin-bottom: 15px;
        margin-top: 85px;
}
    
    h3{
        font-weight:100;
        font-size:2.25em;
        margin-bottom: 25px; 
        margin-top: 5px;
}
    
    p{
        font-size: 1em; 
        line-height: 1.5em; 
        max-width: 900px;
    }
    
    p.introduction:first-letter {
    	font-size : 6em; 
    	margin-right:10px; 
    	margin-top: 0px; 
    	margin-bottom: 0px;
    	font-weight : 100;
    	float : left;
    	width : 1em; 
    	color : #d6d5d7;
     	line-height: .95em;
 }

    a.vertical{
        width: 1px; 
        background-color: black; 
        height: 15px; float: 
        left;color: #DA4545; 
        font-size: 1em; 
    	padding-right: 10px; 
        padding-left: 0px; 
        margin: 0px;
    }

    .navig{
        font-size:2.2em;
 }
    
    .maroon{
        color: #DA4545;
    }
    
    .grey{
        color: #d6d5d7;
    }
    
    #headernav{
        color: #d6d5d7;
    }
    
    .greyline{
        border-bottom: thin solid #d6d5d7
    }
    
    .copy{
        line-height: 1.65em;
    }
    
    .continue{
        float: right; 
        color: #DA4545; 
        font-weight: 600; 
        margin-bottom: 60px; 
        font-size: 1em;
    }
    
    .width{
        max-width: 900px;
    }
    
    .horizline{
        border-bottom: thin solid #d6d5d7; 
        margin-top: 90px; 
        max-width: 900px;
    }
    
    .footer{
        margin-top: 60px;
    }
    
    .redline{
        border-right: thin solid #000000; 
        color: #DA4545; 
        font-size: 1em; 
        line-height: 1em;
    	padding-right: 10px; 
        padding-left: 5px; 
        margin: 0px; 
        padding-top: 5px; 
        padding-bottom: 2px;}
    
    .redline1{
        border-right: thin solid #000000; 
        color: #DA4545; 
        font-size: 1em; 
    	padding-right: 10px; 
        padding-left: 0px; 
        margin: 0px;
    }

    .redline2{
        font-size: 1em; 
        padding-right: 10px; 
        padding-left; 
        color: #DA4545;}
    
    #borderleft{
        border-left-width: 10px 
    }
